body {
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    min-height: 100vh;
    padding-bottom: 10em;
}

/* HEADER */

.caja-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #41545a;
    margin-bottom: 5px;
}

.img-logo {
    width: 100px;
    margin-left: 20px;
}

/* BARRA DE NAVEGACION */

.barra-nav {
    display: flex;
    align-items: center;
    
}

.menu {
    display: flex;
    gap: 20px;
    padding: 0;
}

.menu li {
    list-style: none;
}

.menu a {
    text-decoration: none;
    color: #dddcdc;
    font-size: 20px;
    font-weight: bold;
}

.menu a:hover {
    color: rgb(216, 70, 70);
    text-shadow: 0px 0px 5px #181616;
}

/* BARRA DE BUSQUEDA */
.searchBox {
    display: flex;
    align-items: center;
    margin-right: 20px;
}    

.input-search {
    font-size: 20px;
    border-radius: 5px;
    padding: 5px;
    background-color: #ddd;
    border: none;
    box-shadow: 2px -2px 2px #000;
}    

.input-search:focus {
    background-color: #fff;

}    

.button-search {
    background-color: transparent;
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #fff;
}    


/* MAIN */

.imagen-inicio {
    width: 100%;
}

.caja-article {
    width: 100%;
    display: flex;
    color: #fff;
}


.caja-grande {
    width: 70%;
    background-image: url(../img/3.jpg);
    background-size: cover;
    text-shadow: 2px 2px 2px #000;
}

.caja-grande1 {
    padding: 40px;
}

.titulo-caja-grande {
    font-size: 40px;
}

.caja-chica {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.caja-chica1 {
    background-color: #41545a;
    padding: 30px;

}

.caja-chica2 {
    background-color: #4a6067;
    padding: 30px;
}

.caja-chica3 {
    background-color: #1ba9cb;
    padding: 30px;
}

/* SOBRE NOSOTROS */

.nosotros-parrafo {
    width: 75%;
    border: 2px solid #000;
    border-radius: 20px;
    margin: 20px auto;
    padding: 20px 40px;
    font-size: 20px;
    text-align: justify;
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    background-image: url(../img/1.jpg);
    background-size: cover;
}

/* FOOTER */

.footer {
    width: 100%;
    padding: 20px 0;
    background-color: #41545a;
    position: absolute;
    bottom: 0;
    color: #fff;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.footer-info {
    display: flex;
    justify-content: space-between;
    margin: 0 30px;
}

.footer-logo-redes {
    display: flex;
    align-items: center;
    gap: 20px;
}

.caja-redes {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.link-redes {
    color: #fff;
    font-size: 25px;
}

.texto-titulos {
    color: #1b9ca8;
    margin: 10px;
}

.texto-copyright {
    font-size: 15px;
}

.img-footer {
    width: 20px;
    vertical-align: middle;
}


@media (max-width: 980px) {
    .caja-header {
        background-image: url(../img/gym1.png);
        position: static;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 0px;
    }

    .caja-nav {
        display: flex;
        flex-direction: column;
        top: 150px;
    }
    
    .menu {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .menu a{
        font-size: 15px;
    }

    .caja-article {
        display: flex;
        flex-direction: column;
        color: #fff;
    }
    
    .caja-grande {
        
        width: 100%;
        margin-top: 5px;
        margin-bottom: 50px;
    }

    .caja-chica {
        width: 100%;
        gap: 5px;
    }

    
    .footer-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
    }

    .footer {
        padding: 20px 0;
    }
    
    body {
        padding-bottom: 25em;
    };
}

